<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Panel</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="pics/angular.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script>
        var module=angular.module("myModule",[]);
        module.controller("myController",function($scope,$http){
                /*$scope.jsonArray=
                [
                    {email:"bcebti@gmail.com",pwd:'Admin123',picname:'x.jpg'},
                {email:"sst@gmail.com",pwd:'Admin123',picname:'xx.jpg'},
                {email:"real@gmail.com",pwd:'Admin123',picname:'x.jpg'}
                    
                ] */
                $scope.jsonArray;
                //-------------
                $scope.doBlock=function(email)
                {
                    if(confirm("Are U Sure You Want To Block This Account?")==false)
                        return;
                        var url="/do-angular-block?emailkuch="+email;//+"&pwd="+pwdkuch;
                        $http.get(url).then(done,fail);
                        function done(response)
                        {
                          // alert(response.data);
                           $scope.fetchRecords();
                        }
                     function fail(response)
                        {
                                alert(response.data);
                        }   
                }
                $scope.doResume=function(email)
                {
                    if(confirm("Are U Sure You Want To Resume This Account?")==false)
                        return;
                        var url="/do-angular-resume?emailkuch="+email;//+"&pwd="+pwdkuch;
                        $http.get(url).then(done,fail);
                        function done(response)
                        {
                           //alert(response.data);
                           $scope.fetchRecords();
                        }
                     function fail(response)
                        {
                                alert(response.data);
                        }   
                }
                //==============
                $scope.fetchRecords=function()
                {
                    var url="/get-angular-all-records";
                    $http.get(url).then(done,fail);
                    function done(response)
                        {
                           // alert(JSON.stringify(response.data));
                            $scope.jsonArray=response.data;
                        }
                     function fail(response)
                        {
                                alert(response.data);
                        }   
                }
                
        })
    </script>
  </head>
  <body ng-app="myModule" ng-controller="myController">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand ms-4" href="">
          <img src="pics/Medical Prescription Rx Logo.jpeg" style="border-radius: 50%;" alt="Logo" width="40" height="40" class="d-inline-block align-text-center">&nbsp;&nbsp;
            HelpRX</a>
        </div>
      </nav>

  <center>
    <button type="button" class="btn btn-primary mt-2 mb-2 ps-4 pe-4" ng-click="fetchRecords();" formaction="">Fetch Records</button>
    <div class="container">
    <table class="table table-success table-striped table-hover table-bordered border-black">
        <thead class="table-dark">
          <tr>
            <th scope="col">SrNo.</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Type</th>
            <th scope="col">Date of Signup</th>
            <th scope="col">Status</th>
            <th scope="col">Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="obj in jsonArray">
            <th scope="row">{{$index+1}}</th>
            <td>{{obj.email}}</td>
            <td>{{obj.pwd}}</td>
            <td>{{obj.type}}</td>
            <td>{{obj.dos}}</td>
            <td>{{obj.status}}</td>
            <td>
    <button type="button" class="btn btn-primary col-4 ms-5" ng-click="doBlock(obj.email);">Block</button>
    <button type="button" class="btn btn-primary col-4 ms-5" ng-click="doResume(obj.email);">Resume</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </center>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>