<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="script/angular.min.js"></script>
    <script>
        var module=angular.module("myModule",[]);
        module.controller("mycontroller",function($scope){
            $scope.fn="";
            $scope.m2="";
            $scope.m3="";
            $scope.tot="";
            $scope.per="";
            $scope.res="";

            $scope.doTot=function()
            {
                alert();
                // $scope.tot=$scope.m1+$scope.m2+$scope.m3;
            }
        });

    </script>
</head>
<body ng-app="myModule" ng-controller="myController">
   <p>
    {{fn}}
   </p>
    <center>
        <table width="1000">
            <tr>
                <td>C++</td>
                <td>
                    <input type="text" autofocus ng-model="fn">
                </td>
            </tr>
            <tr>
                <td>Java</td>
                <td>
                    <input type="text" ng-model="m2">
                </td>
            </tr>
            <tr>
                <td>Web</td>
                <td>
                    <input type="text" ng-model="m3">
                </td>
            </tr>

            <tr>
                <td>Operations</td>
                <td>
                    <input type="button" value="Total" ng-click="doTot();">
                     <input type="button" value="Per" ng-click="doPer();">
                    <input type="button" value="Result" ng-click="doRes();">
                    <input type="button" value="Clear All" ng-click="doClear();">
                </td>
            </tr>
            <tr>
                <td>Total Marks</td>
                <td>
                    <input type="text" ng-model="tot"> 
                </td>
            </tr>
            <tr>
                <td>Percentage</td>
                <td>
                    <input type="text" ng-model="per">
                </td>
            </tr>
            <tr>
                <td>Result</td>
                <td>
                    <input type="text" ng-model="res">
                </td>
            </tr>
        </table>
    </center>
</body>
</html>